<style>
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
</style>
body {
    font-family: Arimo;
    font-size: 20px;
    font-weight: 400;
}
